@charset "utf-8";

/*-----------------------------------------------------------
 （全ページ対象）ブラウザのデフォルトcssを消すためのスタイルシートです
 ------------------------------------------------------------ */

html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input{
  -webkit-appearance: none;
}

article, header, footer, aside, figure, figcaption, nav, section { 
  display:block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin:0;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

a{
  text-decoration: none;
}

:before, :after {
    text-decoration: inherit;
    vertical-align: inherit;
}

:before, :after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}